// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    width: 100%;
    background-color: #1d7fe2;
    height: 54px;
  }
.header p {
  text-align: left;
  line-height: 55px;
  font-size: 5rem;
}

  
  footer {
    width: 100%;
    background-color:#107ce7;
    padding: 20px 0 10px 0;
    color: white;
    margin: auto;
    padding-bottom: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
  }
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    text-align: center;
  }